
grant codeBase "${codebase.netty-common}" {
   // for reading the system-wide configuration for the backlog of established sockets
   permission java.io.FilePermission "/proc/sys/net/core/somaxconn", "read";
   // netty makes and accepts socket connections
   permission java.net.SocketPermission "*", "accept,connect,resolve";
   // 4.1.24 io.netty.util.concurrent.GlobalEventExecutor$2.run(GlobalEventExecutor.java:228)
   permission java.lang.RuntimePermission "setContextClassLoader";
};

grant codeBase "${codebase.netty-transport}" {
   // Netty NioEventLoop wants to change this, because of https://bugs.openjdk.java.net/browse/JDK-6427854
   // the bug says it only happened rarely, and that its fixed, but apparently it still happens rarely!
   permission java.util.PropertyPermission "sun.nio.ch.bugLevel", "write";
};

grant codeBase "${codebase.netty-http-client}" {
   // org.xbib.netty.http.client.Client.<clinit>(Client.java:67)
   permission java.util.PropertyPermission "io.netty.noUnsafe", "write";
;}
